
.s3-1-2{
    position: absolute;
    top: 2402px;
left: 924px;
width: 510px;
height: 282px;
/* UI Properties */
background: transparent url('img/Group\ 167.svg') 0% 0% no-repeat padding-box;
opacity: 1;
border: white;
   }
   .s3-1-3{
    top: 2747px;
left: 318px;
width: 575px;
height: 360px;
/* UI Properties */
opacity: 1;

   }
   .s3-1-4{
    top: 3259px;
left: 951px;
width: 506px;
height: 241px;
/* UI Properties */
opacity: 1;

   }
   .s3-2-1{
    position: absolute;
    top: 2322px;
    left: 118px;
    width: 476px;
    height: 317px;
    /* UI Properties */
    background: transparent url('img/pexels-joão-jesus-1084540.png') 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    z-index: 2;
   }
   .s3-2-2{
    position: absolute;
    top: 2518px;
    left: 72px;
    width: 191px;
    height: 183px;
    background: transparent url('img/Group\ 165.svg ') 0% 0% no-repeat padding-box;
    opacity: 1;

   }
   .s3-2-3{
    position: absolute;
    top: 2299px;
    left: 242px;
    width: 377px;
    height: 182px;
    /* UI Properties */
    opacity: 1;
   }

   .s3-3-1{
    position: absolute;
    top: 2747px;
    left: 318px;
    width: 575px;
    height: 360px;
    /* UI Properties */
    background: transparent url('img/167.png') 0% 0% no-repeat padding-box;
    opacity: 1;

   }
   .s3-3-2{
    position: absolute;
    top: 2686px;
    left: 1262px;
    width: 447px;
    height: 269px;
    /* UI Properties */
    background: transparent url('img/Image\ 25.png ') 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    z-index: 2;

   }
   .s3-3-3{
    position: absolute;
    top: 2621px;
    left: 1562px;
    width: 191px;
    height: 183px;
    /* UI Properties */
    background: transparent url('img/Group\ 165.svg ') 0% 0% no-repeat padding-box;
    opacity: 1;

   }
   .s3-4-1{
    position: absolute;
    top: 3153px;
    left: 154px;
    width: 455px;
    height: 303px;
    /* UI Properties */
    background: transparent url('img/Image 27.png') 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    z-index: 2;
   }
   .s3-4-2{
    position: absolute;
    top: 3335px;
    left: 110px;
    width: 180px;
    height: 173px;
    /* UI Properties */
    background: transparent url('img/Group\ 165.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
   }
   .s3-4-3{
    position: absolute;
    top: 3259px;
    left: 951px;
    width: 575px;
    height: 241px;
    /* UI Properties */
    background: transparent url('img/Group\ 167.svg') 0% 0% no-repeat padding-box;
    opacity: 1;

   }
   .s3-5-1{
    position: absolute;
    top: 3512px;
left: 1647px;
width: 264px;
height: 241px;
/* UI Properties */
background: transparent url('img/Group\ 165.svg ') 0% 0% no-repeat padding-box;
opacity: 1;

   }
   .s3-5-2{
    position: absolute;
    top: 3574px;
left: 1230px;
width: 461px;
height: 294px;
/* UI Properties */
background: transparent url('img/Image\ 28.png ') 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
z-index: 3;

   }
   .s3-5-3{
    position: absolute;
    top: 3574px;
left: 759px;
width: 417px;
height: 294px;
/* UI Properties */
background: transparent url('img/Image\ 29.png') 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
   }
  
  .s3-6-1{
    position: absolute;
    top: 2076px;
left: 556px;
width: 714px;
height: 71px;
/* UI Properties */
text-align: center;

font-style: normal;
font-variant: normal;
font-weight: 600;
font-size: 35px;
line-height: 55px;
font-family: Poppins;
letter-spacing: 0px;
color: #121412;
opacity: 1;

  }
  .s3-6-1-1{
    position: absolute;
   

  }
  .s3-6-2{
    position: absolute;
    top: 2148px;
left: 682px;
width: 462px;
height: 101px;
/* UI Properties */
text-align: center;

font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 72px;
line-height: 108px;
font-family: Poppins;
letter-spacing: 0px;
opacity: 1;


  }
  .S3-6-2-1{
    position: absolute;
   

  }
  
  .s3-6-3{
    position: absolute;
    top: 2392px;
left: 686px;
width: 166px;
height: 56px;
/* UI Properties */
font-style: normal;
font-variant: normal;
font-weight: 300;
font-size: 40px;
line-height: 60px;
font-family: Poppins;
letter-spacing: 0px;
opacity: 1;
text-align: left;
    


  }
  
  .s3-6-4{
    position: absolute;
    top: 2452px;
left: 686px;
width: 429px;
height: 181px;
/* UI Properties */
font-style: normal;
font-variant: normal;
font-weight: 300;
font-size: 30px;
line-height: 46px;
font-family: Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
text-align: left;

  }
 
  .s3-6-5{
    position: absolute;
    top: 2723px;
left: 924px;
width: 294px;
height: 56px;
/* UI Properties */
text-align: left;
    font-style: normal;
font-variant: normal;
font-weight: 300;
font-size: 40px;
line-height: 60px;
font-family: Poppins;
letter-spacing: 0px;
opacity: 1;

  }
 
  .s3-6-6{
    position: absolute;
    top: 2807px;
left: 551px;
width: 651px;
height: 181px;
/* UI Properties */
text-align: right;

font-style: normal;
font-variant: normal;
font-weight: 300;
font-size: 30px;
line-height: 46px;
font-family: Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;

  }
 
  .s3-6-7{
    position: absolute;
    top: 3248px;
left: 677px;
width: 223px;
height: 56px;
/* UI Properties */
text-align: left;
font-style: normal;
font-variant: normal;
font-weight: 300;
font-size: 40px;
line-height: 60px;
font-family: Poppins;
letter-spacing: 0px;
opacity: 1;


  }
  
  .s3-6-8{
    position: absolute;
    top: 3311px;
left: 677px;
width: 738px;
height: 185px;
/* UI Properties */
text-align: left;

font-style: normal;
font-variant: normal;
font-weight: 300;
font-size: 30px;
line-height: 46px;
font-family: Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
  }
 
  .s3-6-9{
    position: absolute;
    top: 3672px;
left: 148px;
width: 553px;
height: 230px;
/* UI Properties */
text-align: left;

font-style: normal;
font-variant: normal;
font-weight: 300;
font-size: 30px;
line-height: 46px;
font-family: Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;

  }
  
  .s3-6-9-1{
    position: absolute;
    top: 3903px;
left: 873px;
width: 189px;
height: 56px;
/* UI Properties */
text-align: left;
    font-style: normal;
font-variant: normal;
font-weight: 300;
font-size: 40px;
line-height: 60px;
font-family: Poppins;
letter-spacing: 0px;
opacity: 1;

  }
  
  .s3-6-9-2{
    position: absolute;
    top: 3903px;
left: 1365px;
width: 219px;
height: 56px;
/* UI Properties */
text-align: left;
    font-style: normal;
font-variant: normal;
font-weight: 300;
font-size: 40px;
line-height: 60px;
font-family: Poppins;
letter-spacing: 0px;
opacity: 1;


  }
  