
  .container{
    padding: 2rem;
  }
  .slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
  }
  .ham{
    position: absolute;
    top: 52px;
left: 1829px;
width: 27px;
height: 18px;
/* UI Properties */
background: #519259 0% 0% no-repeat padding-box;

opacity: 1;
  }

  section{
    width: 100%;
  }
  
   .tooltip{
    
    opacity: 2;
   
    
    display: inline;
    position: absolute;
    top: 120px;
    left: 1661px;
    background-color: #519259;
    color: white;
    border-radius: 8px ;
    padding: 16px;
    font-size: 32px;
    z-index: 5;
   
    

  }
  .hmenu:hover .tooltip{
    opacity: 2;
    
   
  }
  
 
  .slider {
    
    width: 1920px;
    height: 954px;
    position: relative;
  }
  
  .slider img {
    top: 126px;
left: 0px;
    width: 1920px;
    height: 954px;
    position: absolute;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 0.4;
    
  }
  
  .slider img:first-child {
    z-index: 1;
  }
  
  .slider img:nth-child(2) {
    z-index: 0;
  }
  .navigation-button {
    text-align: center;
    position: relative;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }
  .s1-3:hover{
    opacity: 2;
    color: white;
    background-color: black;
    
  }